* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }

  ::-webkit-scrollbar-corner{
    background-color: #3dae06;
  }
  
  ::-webkit-scrollbar-track {
    background: #3dae06;     /* color of the tracking area */
  }
  
::-webkit-scrollbar-thumb {
    background-color: #5d5d5d;/*  color of the scroll thumb
    border-radius: 20px;       /* roundness of the scroll thumb */
      /* creates padding around scroll thumb */
  }

.primary {
    background-color: #3dae06;
}


header.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;

}

nav {
    position: relative;
    display: flex;
    width: 100%;
    height: 80px;


}

.nav-icon{
    background-image: url(./img/logo.svg);
    width: 300px;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.debug {
    border: 1px solid rgba(121, 58, 247, 0.855);
}

.content-header-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: url(./img/header-img.png);
    top: 0px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    min-height: 400px;
    background-position: center;
    flex-direction: column;

}



/* .header:hover  .content-bienvenida, .header:hover ~ .content-main{
    opacity: 0;
  
} */
.content-header-img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}




.content-nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.content-bienvenida {
    display: flex;
    width: 450px;
    height: 300px;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgb(250, 250, 250);
}
.content-bienvenida h3{
    font-size: 40px;
    font-weight: lighter;
}
.menu {
    width: auto;
    height: 100%;
    margin: 0px 20px
}

.menu ul {
    height: 100%;
    display: flex;
    align-items: center;

}

.menu ul li.item-menu {
    color: white;
    font-weight: bold;
    position: relative;
    min-width: 80px;
    width: 120px;
    max-width: 150px;
    margin: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    list-style-type: none;
    cursor: pointer;
    transition: all 200ms ease;
}
.menu ul li.item-menu::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    bottom: 0px;
    left: 0px;
    background-color: white;
    z-index: 200000;
 }

 .menu ul li.item-menu:hover::after{
    animation: leftToRight 500ms ease-in-out forwards;

 }
 .menu ul li.item-menu:hover>.submenu{
    animation: top-to-bottom 300ms ease-in-out 100ms forwards;
 }

 @keyframes leftToRight {
    
    100%{
        opacity: 1;
        width: 100%;
    }
 }


@keyframes top-to-bottom {
    0%{
        top:0;
    }
    100%{
        top:100%;
        opacity:1;
    }
}

.content-main{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 500ms ease-in-out;

}

.content-section{
    width: 60%;
    height: auto;
    padding:15px;
    margin: 1px 50px;

}

.card-round{
    background: rgb(253, 253, 253);
    border-radius: 25px;
    max-width: 550px;
    padding: 25px;
    box-shadow: 1px 1px 5px  rgba(0, 0, 0, 0.575);

}

.btn_custom{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    text-decoration: none;
    
}

.unirse{
    position: relative;
    background: none;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    transition: background 100ms ease-in-out;
   


}

.unirse::after{
    position: absolute;
    content: "";
    left:0px;
    top:0px;
    width: 0%;
    border-radius: 10px;
    height: 100%;
    background-color: white;
    transition: width 800ms ease-in-out;
    
}
.unirse:hover{
        background-color: white;
        color: #3dae06;
}




.content-footer{
    width: 100%;
    height: 300px;
    background-color: #3dae06;
    display: flex;
    padding: 20px;
flex-direction: column;
}

.logo-info{
   
    width: 100%;
    height: 80px;
    display: flex;
}

.content-footer-info{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.content-menu{
    width: 100%;
    height: 100px;
}

.social{
    width: 100%;
    height: 40px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.content-form{
    width: 100%;
    max-width: 550PX;
    margin: 0 auto;
}

.content-input{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.content-textArea{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-input{
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 1px solid rgb(0, 173, 0);
    border-radius: 5px;
    outline: none;
    transition: box-shadow ease-in 200ms;

}

.form-input:focus{
    box-shadow:0px 0px 0px 2px rgba(44, 236, 44, 0.706)
}

.form-textArea{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 105px;
    padding: 5px;
    border: 1px solid rgb(0, 173, 0);
    border-radius: 5px;
    outline: none;
    resize: none;
    transition: box-shadow ease-in 200ms;
}
.form-textArea:focus{
    box-shadow:0px 0px 0px 2px rgba(44, 236, 44, 0.706)
}

.content-button{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.succes{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: large;
    transition: background-color 100ms ease-in-out;
}

.succes:hover{
    background-color: #ffffff;
    color: #3dae06;
    border:1px solid #3dae06;
}


.info{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    max-height: 600px;
    background-image: url("./img/banner_temas.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 80px !important;
}

.content-info{
    display: flex;
    width: 500px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}


.column{
    display: flex;
    flex-direction: row;
}

.info-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
}

.info-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info{
  width: 400px;
  margin: 20px;
 
}

 .submenu{
    opacity: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 99999999;
    background-color: rgb(255, 255, 255);
    
}

.submenu li.subitem{
    padding: 0;
    margin: none;
    width: 120px;
    background-color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3dae06;
    transition: color 300ms ease-in-out;
    padding: 10px;
}

.submenu li.subitem:hover{
   color: rgb(24, 24, 24);
}




.leer{
    position: relative;
    background: none;
    border: 1px solid #3dae06;
    color: #3dae06;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    transition: background 100ms ease-in-out;
   


}

.leer::after{
    position: absolute;
    content: "";
    left:0px;
    top:0px;
    width: 0%;
    border-radius: 10px;
    height: 100%;
    background-color: leer;
    transition: width 800ms ease-in-out;
    
}
.leer:hover{
        background-color: #3dae06;
        color: white;
}

.info-header{
    position: relative;
    margin-top: 10px;
    
}
.info-header::after{
    position:absolute;
    content: "";
    width: 60px;
    bottom: -2;
    left: 0;
    /* margin-top: 5px; */
    height: 3px;
    background-color: #3dae06;

}
.info-content{
    text-align: justify;
    padding: 5px;
    margin-top: 15px;
}
.btn-leer{
    margin: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
}


.link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
}
.link:hover{
    text-decoration: none;
    color: white;
}
.link:active{
    text-decoration: none;
    color: rgb(192, 255, 20);
}
.link:active{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.link:active{
    color: #3dae06;
}
.subitem .link{
    color:#3dae06
}